@font-face {
	font-family: Bodoni;
	src: url('../fonts/BodoniModa-VariableFont_opsz\,wght.ttf');
}

@font-face {
	font-family: Carolingia;
	src: url('../fonts/carolingia.ttf');
}

@font-face {
	font-family: Cinzel;
	src: url('../fonts/CinzelDecorative-Regular.ttf');
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
	height: 100%;
}

.no-opacity {
	opacity: 0;
}

.custom-mouse {
	cursor: url('../images/customcursorpoint.webp'), auto;
}

.before-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 800ms ease-in-out;
}

#splash-screen {
	background-color: #5E3030;
	z-index: 1000;
}

#instructions-screen {
	background-color: black;
	z-index: 800;
}

.instructions-text {
	font-family: Cinzel, fantasy;
	font-size: 3vw;
	color: #FDDB26;
	font-weight: 100;
	text-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
}

.titles {
	text-align: center;
}

.splash-title {
	font-family: Cinzel, fantasy;
	font-size: 10vw;
	color: #FDDB26;
	font-weight: 100;
	margin-bottom: 0;
	margin-top: 5vh;
	text-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

.loaded-message {
	font-family: Cinzel, monospace;
	font-size: 1.8vw;
	color: white;
	font-weight: 100;
}

.long-loading-message {
	position: absolute;
	bottom: 0;
}

.link-to-2d {
	font-family: Cinzel, monospace;
	font-size: 1.5vw;
	color: white;
	font-weight: 100;
	margin-bottom: 10vh;
}

.link-to-2d a {
	color: #FDDB26;
	text-decoration: none;
}

.link-to-2d a:hover {
	text-decoration: underline;
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.save-delete-ticket {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
}

.pos-button,
.neg-button {
	border-radius: 0.35vw;
	width: 12vw;
	text-align: center;
	padding: 1.5vw 0 1.5vw 0;
	font-size: 1.1vw;
	font-family: Cinzel, fantasy;
	box-shadow: 0 0 5vw 0.1vw rgb(30, 30, 30);
	border: 0.1vw solid black;
	transition: background-color 200ms ease-in-out;
}

.pos-button {
	background-color: rgba(253, 219, 38, 0.95);
	margin-left: 3vw;
}

.pos-button:hover {
	background-color: rgba(213, 179, 0, 0.95);
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.neg-button {
	background-color: rgba(230, 230, 230, 0.95);
}

.neg-button:hover {
	background-color: rgba(180, 180, 180, 0.95);
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.exit-confirmation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2000;
}

.red-text {
	color: #E40000;
}

.confirmation-leave-message {
	font-family: Cinzel, fantasy;
	font-size: 2vw;
	color: rgba(253, 219, 38, 0.95);
	text-align: center;
	text-shadow: 0 0 1vw black;
}

.buttons-group {
	display: flex;
	justify-content: center;
}

.cover {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(60, 60, 60, 0.40);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
	transition: opacity 150ms ease-in-out;
}

.vignette-cover {
	background-image: radial-gradient(transparent 50%, #FDDB26);
	animation-name: vignette-fade-in;
	animation-duration: 400ms;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes vignette-fade-in {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0;
	}
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99;
}

.count-tickets-icon {
	position: absolute;
	bottom: 3vw;
	right: 3vw;
	background-color: transparent;
	background-image: url('../images/card_icon.webp');
	background-size: cover;
	width: 5vw;
	height: 7vw;
	text-align: center;
	border: none;
	font-size: 2vw;
	font-family: Cinzel, fantasy;
	transition: opacity 150ms ease-in-out, 
		visibility 150ms ease-in-out, 
		transform 300ms ease-in-out, 
		bottom 300ms ease-in-out,
		right 300ms ease-in-out;
	transform-style: preserve-3d;
	perspective-origin: bottom right;
}

#ticket-count {
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.count-tickets-icon:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
	transform: rotate3d(-1, -1, 0.1, -16deg) scale(0.97);
	box-shadow: inset -4vw 6vw 7vw rgba(255, 217, 0, 0.12);
}

.count-tickets-flipped {
	transform: rotate3d(0, 1, 0, 180deg) !important;
}

.history-wrapper {
	display: flex;
	justify-content: center;
	transition: opacity 150ms ease-in-out;
}

.ticket-history {
	position: absolute;
	top: 50%;
	transform: translateY(calc(-10vh - 50%));
	height: 35vw;
	z-index: 250;
	transition: transform 0.3s ease-out;
}

.ticket-history-controls {
	font-family: Carolingia, fantasy;
	position: absolute;
	z-index: 300;
	top: calc(50% + 13vw);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25vw;
	height: 10vw;
}

.ticket-history-controls button {
	background: transparent;
	border: none;
	margin: 0.5vw;
	transition: filter 200ms ease-in-out;
	padding: 0;
	margin: 0 1vw 0 1vw;
}

.ticket-history-controls button img {
	width: 5vw;
	height: 3.3vw;
	padding: 0;
	margin: 0;
}

.ticket-history-controls button:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
	filter: brightness(75%);
}

#ticket-history-input {
	font-family: Carolingia, fantasy;
	background-color: rgba(230, 230, 230, 0.95);
	border: none;
	width: 2.5vw;
	height: 2.5vw;
	text-align: center;
	border-radius: 0.4vw;
	transition: background-color 200ms ease-in-out;
	font-size: 1vw;
}

#ticket-history-input:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
	background-color: rgba(203, 203, 203, 0.95);
}

#ticket-history-input:focus {
	background-color: rgba(203, 203, 203, 0.95)
}

#close-history {
	background-color: transparent;
	border: none;
	position: absolute;
	left: 1.2vw;
	top: 1.2vw;
	z-index: 999;
}

#close-history img {
	width: 2vw;
}

#close-history:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.ticket-history-label {
	font-size: 1vw;
	font-weight: bolder;
	color: #FDDB26;
	margin-left: 0.3vw;
}

historical-ticket {
	position: absolute;
	left: 50%;
	height: 35vw;
	width: 25vw;
	transition: transform 0.45s ease;
	perspective: 65vw;
}

.settings-menu-container {
	width: calc(min(8vh, calc((8vh + 8vw) / 2)));
	padding: 2rem;
	position: absolute;
	top: 0;
	right: 0px;
	display: flex;
	flex-direction: column;
	transition: 150ms ease-in-out;
	gap: 2rem;
}

.settings-menu-button, .settings-menu-icon {
	width: 100%;
	background-color: transparent;
	border: transparent;
	padding: 0;
	display: flex;
	transition: filter 200ms ease-in-out, transform 50ms ease-in-out;
}

.settings-menu-button img, .settings-menu-icon img {
	width: 100%;
	transition: 0.3s ease-in-out;
}

.settings-menu-button:hover, .settings-menu-icon:hover {
	filter: brightness(65%);
}

.settings-menu-button:active, .settings-menu-icon:active {
	transform: scale(0.95);
}

.settings-menu-settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	transition: 0.3s ease-in-out;
	transform: translateX(150%);
}

.clicked {
	transform: rotate3d(0, 1, 0, -180deg);
}

.settings-slide-in {
	transform: translateX(0);
}

.settings-ticket {
	position: absolute;
	transition: transform 0.5s, top 0.5s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clickable {
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.splash-screen-image {
	position: absolute;
	top:0;
	height: 100vh;
	overflow: hidden;
	opacity: 50%;
	filter: blur(5px);
	z-index: -1;
}

.gh-icon {
	width: 1.5vw;
	height: 1.5vw;
	margin-bottom: 0.3vw;
}

.gh-footer {
	position: absolute;
	bottom: 3vw;
	width: 100%;
}

.gh-footer .copyright {
	margin: 0;
}

.dead-button {
	visibility: hidden;
	pointer-events: none;
}