.rule {
	position: absolute;
	width: 20vw;
}

.rule.top {
	left: 2.5vw;
	top: 0.5vw;
}

.rule.bottom {
	left: 2.5vw;
	bottom: 0.5vw;
	transform: rotate(180deg);
}

.hidden {
	/* display: none !important; */
	opacity: 0;
}

.flipped {
	transform: rotate3d(0, 1, 0, 180deg);
}

.flipped::before {
    transform: rotateX(-90deg);
}

.ticket-wrapper {
	position: absolute;
	z-index: 99;
	width: 25vw;
	height: 35vw; 
	transition: transform 0.5s;
}

.ticket-back-image {
	width: 100%;
	height: 100%;
}

.ticket-back-content, .ticket-front-content {
	backface-visibility: hidden;
}

.ticket-front-content, .ticket-back-content, .ticket-background {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: box-shadow 0.2s ease-in;
}

.transition-action {
	transition: transform 0.5s ease-in-out, opacity 200ms ease-in-out;
}

.ticket-title {
	font-family: Carolingia, fantasy;
	font-weight: 900;
	font-size: 2vw;
	margin-bottom: 0;
	margin-top: 3vw;
}

.ticket-front-content {
	font-family: Bodoni, monospace;
	font-size: 1vw;
	color: #333;
	text-align: center;
	line-height: 1.5;
}

.ticket-hoverable:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
	transform: rotate3d(-1, -1, -0.1, -15deg);
}

.ticket-hoverable:hover .ticket-background {
	box-shadow: inset -20vw 30vw 35vw rgba(255, 217, 0, 0.12);
}

.ticket-text {
	text-align: justify;
	padding: 0 2vw 0 2vw;
}

.ticket-weathered-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/natural-paper.webp");
	background-size: 100% auto;
	filter: url(#weathered-edges);
	background-color: #E0C9A6;
	z-index: -1;
}

.ticket-header-image {
	width: 60%;
	height: auto;
	margin: 0;
}

.ticket-flip-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	background-color: rgba(60, 60, 60, 0.40);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ticket-flip-overlay button {
	display: block;
	border-radius: 0.35vw;
	width: 12vw;
	text-align: center;
	padding: 1.5vw 0 1.5vw 0;
	font-size: 1.1vw;
	font-family: Cinzel, fantasy;
	box-shadow: 0 0 5vw 0.1vw rgb(30, 30, 30);
	border: 0.1vw solid black;
	transition: background-color 200ms ease-in-out;
}

.ticket-flip-overlay button:hover {
	cursor: url('../images/customcursorclick.webp'), pointer;
}

.flip-history-button {
	background-color: rgba(253, 219, 38, 0.95);
}

.flip-history-button:hover {
	background-color: rgba(213, 179, 0, 0.95);
}

.discard-history-button {
	background-color: rgba(230, 230, 230, 0.95);
	margin-top: 2vw;
}

.discard-history-button:hover {
	background-color: rgba(180, 180, 180, 0.95);
}