.rule {
	position: absolute;
	width: 20vw;
}

.rule.top {
	left: 2.5vw;
	top: 0.5vw;
}

.rule.bottom {
	left: 2.5vw;
	bottom: 0.5vw;
	transform: rotate(180deg);
}

.hidden-animation {
	top: 150vh !important;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

body {
	perspective: 65vw;
}

#close-ticket {
	position: absolute;
	top: 1vw;
	left: 1vw;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: url('../images/customcursorclick.png'), pointer;
}

#close-ticket img {
	width: 1.5vw;
}

.close-settings-ticket {
	position: absolute;
	top: 1vw;
	left: 1vw;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: url('../images/customcursorclick.png'), pointer;
}

.close-settings-ticket img {
	width: 1.5vw;
}

.ticket-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 25vw;
	height: 35vw; 
	transition: transform 0.5s, top 0.5s;
}

.ticket-back-image {
	width: 100%;
	height: 100%;
}

.ticket-back-content, .ticket-front-content, .ticket-background {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.5s, box-shadow 0.2s ease-in;
}

.ticket-back-content, .ticket-front-content {
	backface-visibility: hidden;
}

.ticket-back-content {
	background-size: cover;
}

.flipped {
	transform: rotate3d(0, 1, 0, 180deg);
}

.ticket-title {
	font-family: Carolingia, fantasy;
	font-weight: 900;
	font-size: 2vw;
	margin-bottom: 0;
	margin-top: 3vw;
}

.ticket-front-content {
	font-family: Bodoni, monospace;
	font-size: 1vw;
	color: #333;
	text-align: center;
	line-height: 1.5;
}

.instructions-list li {
	font-size: 2vw;
}

.ticket-text {
	text-align: justify;
	padding: 0 2vw 0 2vw;
}

.ticket-front-content ul {
	text-align: left;
	padding-inline-start: 4vw;
	margin-right: 2vw;
}

.centered {
	text-align: center !important;
}

.ticket-weathered-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/natural-paper.png");
	background-size: 100% auto;
	filter: url(#weathered-edges);
	background-color: #E0C9A6;
	z-index: -1;
}

.ticket-header-image {
	width: 60%;
	height: auto;
	margin: 0;
}

.ticket-hoverable:hover {
	cursor: url('../images/customcursorclick.png'), pointer;
	transform: translate(-50%, -50%) rotate3d(-1, -1, -0.1, -15deg);
}

.ticket-hoverable:hover .ticket-background {
	box-shadow: inset -20vw 30vw 35vw rgba(255, 217, 0, 0.12);
}

.flipped::before {
    transform: rotateX(-90deg);
}