body {
    cursor: url('../images/customcursorpoint.png'), auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#zoltar-image {
    height: 100vh;
    z-index: 2;
    position: relative;
    cursor: url('../images/customcursorclick.png'), pointer;
}

#wood-background {
    position: absolute;
    z-index: 1;

}

button {
    z-index: 3;
    position: absolute;
    top: 0;
}

#ticket {
    height: 55vh;
    min-height: 600px;
    aspect-ratio: 1/1.5;
    z-index: 10;
    position: fixed;

    transform: translate(-50%, -50%);

    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/2d/paper-texture.jpeg');
    background-size: cover;
    color: rgb(0, 0, 0);
}


#ticket h1 {
    z-index: 2;
    font-size: 2rem;
}

#ticket p {
    text-align: justify;
    margin: 0.25rem 1.5rem;
    justify-self: center;
    font-family: Bodoni, monospace;
    font-weight: 500;
    font-size: 1.1rem;
}


.closeTicket {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    color: #220505;
    left: 15px;
    top: 5px;
    z-index: 2;
    transition: 0.2s;
    cursor: url('../images/customcursorclick.png'), pointer;

}

.closeTicket:hover {
    color: white;
}

.slide-in {
    transition: 0.5s;
    top: 150%;
}

.visible {
    top: 50%;
}

.fade-in-text {
    animation: fadeIn 4s;
}

img.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.volume-controls {
    z-index: 20;
    position: absolute;
    top:0;
    margin: 2rem;
    height: 10vh;
}

.volume-controls img {
    filter: invert(1);
    display: none;
}

.volume-controls img:active{
    transform: scale(0.95);
}

