/* TODO: need to refactor all of this */

@font-face {
	font-family: Cinzel;
	src: url('../fonts/CinzelDecorative-Regular.ttf');
}

body {
    cursor: url('../images/customcursorpoint.png'), auto;
    background-color: #121212;
    overflow: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#zoltar-image {
    height: 100vh;
    z-index: 2;
    position: relative;
    cursor: url('../images/customcursorclick.png'), pointer;
}

#wood-background {
    position: absolute;
    z-index: 1;

}


.ticket {
    height: 55vh;
    min-height: 600px;
    aspect-ratio: 1/1.5;
    z-index: 10;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/2d/paper-texture.jpeg');
    background-size: cover;
    color: rgb(0, 0, 0);
}

.mainTicket {
    position: absolute;
    transform: translate(-50%, -50%);
}

.savedTicket {
    position: relative;
    transform: translateY(-50%);
}


.ticket h1 {
    z-index: 2;
    font-size: 2rem;
}

.ticket p {
    text-align: justify;
    margin: 0.25rem 1.5rem;
    justify-self: center;
    font-family: Bodoni, monospace;
    font-weight: 500;
    font-size: 1.1rem;
}


.closeTicket {
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
    cursor: url('../images/customcursorclick.png'), pointer;
}

#closeTicket {
	font-size: 2em;
    z-index: 10;
	color: #220505;
	left: 15px;
    top: 5px;
}

#closeHistory {
	font-size: 4em;
	z-index: 500;
	color: white;
	left: 15px;
    top: 0px;
}

.closeTicket:hover {
    color: white;
}

#closeHistory:hover {
	color: red;
}

.slide-in {
    transition: 0.5s;
    top: 150%;
}

.visible {
    top: 50%;
}

.fade-in-text {
    animation: fadeIn 4s;
}

img.shake {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.volume-controls {
    z-index: 20;
    position: absolute;
    bottom: 0;
    margin: 2rem;
    height: 5vh;
}

.volume-controls img {
    filter: invert(1);
    display: none;
}

.volume-controls img:active{
    transform: scale(0.95);
}


.ticketHistoryBackground{
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
	background-color: rgba(165, 42, 42, 0.228);
	z-index: 10;
}

#ticketHistoryCircle {
	font-family: Cinzel, fantasy;
    background-color: yellow;
    z-index: 100;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 87%;
    right: 30px;
	font-size: 2rem;
}

#ticketHistoryTickets {
    gap: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1000;
    display: flex;

}

.historyArrowButtons {
	font-family: Cinzel, fantasy;
	color: white;
	z-index: 500;
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}

.ArrowButton {
	background-color: yellow;
	height: 50px;
	width: 75px;
}