name: CI Pipeline
on: 
  push:
    branches:
    - main
    - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: npm ci -l verbose
    - run: npm run test --passWithNoTests
      env:
        NODE_OPTIONS: --experimental-vm-modules
